<br>
<br>
<center>
    <h3>בעת מלחמה עם ישראל מתאחד ומרגיש תחושת הזדהות לאומית. התושבים עושים כל שביכולתם לתרום לנפגעי המלחמה, בין השאר נותנים מקום מפלט למשפחות, בעלי עסקים נרתמים למענם ומארגנים פעילויות והטבות כוללות לתושבים באזורים הנפגעים.
    </h3>
    <br>
    <h3>נוצרת בעיה שהמוני אזרחים רוצים לארח ולא מעט נפגעי המלחמה רוצים לצאת מכלל סכנה אך שני הצדדים נתקלים במבוי סתום ולא מצליחים ליצור קשר אחד עם השני.
    </h3>
    <br>
    <h3>האתר שלנו הוא הפתרון, אשר שיאפשר שיתוף בין שני הקהלים וייתן מענה לבעיית התקשורת. האתר יציג תמונה כוללת של כל ההטבות ובתי האירוח עבור האזרחים המתאימים.
    </h3>
</center>

<script type="text/javascript" src="/javascripts/main.js"></script>