<html lang="en">
<head>
<meta charset="utf-8" />
<script type="text/javascript" src="/javascripts/angular.min.js"></script>
<link rel="stylesheet" href="/stylesheets/leafletCss.css">
<script type="text/javascript" src="/javascripts/leaflet.js"></script>
<script type="text/javascript" src="/javascripts/hosts.js"></script>
</head>
<body>
<div ng-app="hosts">
    <div ng-controller="hostsController">
        <div id="map" style="width: 600px; height: 400px;"></div>
    </div>
</div>
</body>
</html>