
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>הרשמה / התחברות</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-flipped.css">
    <link rel="stylesheet" href="/stylesheets/addBenefit.css">
      <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/stylesheets/login.css">

  
</head>

<body>
  <div class="form">
      
      <ul class="tab-group">
        <li class="tab active"><a href="#signup">הרשמה</a></li>
        <li class="tab"><a href="#login">התחברות</a></li>
      </ul>
      
      <div class="tab-content">
        <div id="signup">   
          <h1>הירשם בחינם !</h1>
          
          <form action="/" method="post">
          
          <div class="top-row">
            <div class="field-wrap">
              <input type="text" required autocomplete="off" class="req" placeholder="שם פרטי*" />
            </div>
        
            <div class="field-wrap">
              <input type="text" required autocomplete="off" class="req" placeholder="שם משפחה*" />
            </div>
          </div>

          <div class="field-wrap">
            <input type="email" required autocomplete="off" class="req" placeholder="מייל*" />
          </div>
          
          <div class="field-wrap">
            <input type="password"required autocomplete="off" class="req" placeholder="סיסמא*" />
          </div>
          
          <a href="/views/personalProfile.html" type="submit" class="button button-block" style="text-align: center;">הירשם</a>
          
          </form>

        </div>
        
        <div id="login">   
          <h1>ברוך שובך !</h1>
          
          <form action="/" method="post">
              
          <div class="field-wrap">
            <input type="email" required autocomplete="off" class="req" placeholder="מייל*" />
          </div>
          
          <div class="field-wrap">
            <input type="password"required autocomplete="off" class="req" placeholder="סיסמא*" />
          </div>          
          
          <p class="forgot"><a href="#">שכחת סיסמא?</a></p>
          
          <a href="/views/personalProfile.html"  class="button button-block" style="text-align: center;">התחבר</a>
          
          </form>

        </div>
        
      </div><!-- tab-content -->
      
</div> <!-- /form -->
