<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-flipped.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/addBenefit.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/main.css">

</head>

<body>
    <div ng-app="myApp">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <img src="/images/iconn.png">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a href='#!/login'>
                                <h1 class="nav-link">התחבר</h1>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <h1 class="nav-link">|</h1>
                        </li>
                        <li class="nav-item active">
                            <a href='#!/hosts'>
                                <h1 class="nav-link">אירוח</h1>
                            </a>
                        </li>
                        <li class="nav-item active">
                            <h1 class="nav-link">|</h1>
                        </li>
                        <li class="nav-item active">
                            <a href='#!/benefits'>
                                <h1 class="nav-link">הטבות</h1>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div ng-view></div>
        </div>

        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script type="text/javascript" src="/javascripts/angular.min.js"></script>
        <script type="text/javascript" src="/javascripts/angular-route.js"></script>
        <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>
        <script type="text/javascript" src="/javascripts/login.js"></script>
        <script type="text/javascript" src="/javascripts/main.js"></script>

    </div>
    <a  role="button" class="btn btn-outline-dark" style="margin-left: 798px;
    height: 53px;
    margin-bottom: 45px;
        width: 250px;
    font-size: 19px;     margin-top: 18px;" href="/views/login.html">אני רוצה להמשיך</a>
</body>

</html>