<html>
<meta charset="utf-8">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-flipped.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/addBenefit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img src="/images/iconn.png">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="/views/addHost.html"><h1 class="nav-link">אירוח</h1></a>
                    </li>
                    <li class="nav-item active">
                        <h1 class="nav-link">|</h1>
                    </li>
                   <li class="nav-item active">
                       <a href="/views/addBenefit.html"><h1 class="nav-link">הטבות</h1></a>
                    </li>
                </ul>
            </div>
        </nav>
        <br>
        <br>
        <center>
        <h3>בעת מלחמה עם ישראל מתאחד ומרגיש תחושת הזדהות לאומית. 
התושבים עושים כל שביכולתם לתרום לנפגעי המלחמה, בין השאר נותנים מקום מפלט למשפחות, בעלי עסקים נרתמים למענם ומארגנים פעילויות והטבות כוללות לתושבים באזורים הנפגעים.
</h3>
            <br>
        <h3>נוצרת בעיה שהמוני אזרחים רוצים לארח ולא מעט נפגעי המלחמה רוצים לצאת מכלל סכנה אך שני הצדדים נתקלים במבוי סתום ולא מצליחים ליצור קשר אחד עם השני.
        </h3>
            <br>
        <h3>האתר שלנו הוא הפתרון, אשר שיאפשר שיתוף בין שני הקהלים וייתן מענה לבעיית התקשורת. האתר יציג תמונה כוללת של כל ההטבות ובתי האירוח עבור האזרחים המתאימים.
</h3>
            </center>
    </div>
</body>

</html>
