<html>
    <meta charset="utf-8">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-flipped.css">
    <link rel="stylesheet" href="/stylesheets/addBenefit.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script type="text/javascript" src="/javascripts/angular.min.js"></script>
</head>

<body>
    <div class="container">
       <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <img src="/images/iconn.png">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="/views/hosts.html"><h1 class="nav-link">אירוח</h1></a>
                    </li>
                    <li class="nav-item active">
                        <h1 class="nav-link">|</h1>
                    </li>
                   <li class="nav-item active">
                       <a href="/views/benefits.html"><h1 class="nav-link">הטבות</h1></a>
                    </li>
                </ul>
            </div>
        </nav>
        <center>
            <img src="/images/house2.png">
            <br>
            <h1>צפייה בנתוני הבית המארח שלי</h1>
        </center>
        <div>
            <h4>כמה אנשים צופים בביתי כרגע:</h4>
            <h4>2 אנשים</h4>
            <hr>
            <h4>כמה אנשים צפו בביתי:</h4>
            <h4>10 אנשים</h4>
            <hr>
        </div>
    </div>
</body>
</html>
